/* You can add global styles to this file, and also import other style files */
*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fc .fc-button-primary{
    background-color: white;
    color: black;
    border: none;
}

.fc .fc-toolbar-title{
    display: inline;
}
.fc .fc-button:not(:disabled){
    background-color: white;
    color: black;
    border: none;
}

.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active{
    background-color: white;
    color: black;
    border: none;
}

.fc .fc-scrollgrid-liquid {
    height: 100%;
    border-radius: 16px;
}
.fc-scroller {
    /* Add your custom styles for the scrolling container */
    overflow-y: scroll; /* Enable vertical scrolling */
    scrollbar-width: 1px; /* Customize the width of the scrollbar (optional) */
    scrollbar-color: #888888 #dddddd; /* Customize the colors of the scrollbar (optional) */
  }

  .fc-timegrid-axis-frame{
   
  }
  .fc .fc-timegrid-axis-frame{
    padding:20px;
      }
  .fc-timegrid-axis{
    padding: 20px;
  }
   col {
    width: 120px !important;
  }

   .fc-day{
    padding: 20px !important;
  }
  .fc .fc-timegrid-slot-minor{
    display: none;
  }
  .fc-direction-ltr .fc-timegrid-slot-label-frame {
    text-align: center;
}
.custom-content{
    color: #4B419F;
}
.custom-content2{
    color: #4B419F;
    font-size: 30px;
}
.draggable-event {
  cursor: ew-resize;
}

.fc-timegrid-axis-cushion {
  display: none;
}
.fc-timegrid-axis-frame-liquid{
  padding: 0 !important;
}

.fc .fc-timegrid-slot-label {
  display: none;
}
.fc .fc-timegrid-slot {
 display: none;
}
.fc .fc-timegrid-now-indicator-container {
 display: none;
}
 .fc-timegrid-col{
  display: none;
 }
.custom-content3{
  height: 100%;
  font-size: large;
  font-weight: bold;
}

button:focus{
  border: none !important;
  box-shadow:none !important;
}
.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active {
  background-color: #4B419F;
  color: rgb(255, 255, 255);
  border-radius: 11px;
}

.fc .fc-button-primary:not(:disabled).fc-button-active:focus, .fc .fc-button-primary:not(:disabled):active:focus {
  box-shadow:none !important;
}